.features-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px;

  .features-selection-container {
    display: flex;
  }

  .features-selector {
    padding-bottom: 20px;
    &.active {
      color: white;
    }

    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 50px;
      border: solid 1px currentColor;
    }
  }
}
