.features-container {
  display: flex;
  width: 100%;

  .features-selection-container {
    display: flex;

  }

  .features-selector {

    &.active {
        color: white;
    }

    &:after {
        content: '|'
        
    }
  }
}
